<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/bootstrapcdn.ejs') %>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin=""
    />

    <script
      defer
      src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
      integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
      crossorigin=""
    ></script>
    <link rel="stylesheet" href="../style.css" />
    <link rel="stylesheet" href="../form.css" />
    <script src="../map.js"></script>
  </head>
  <body>
    <div class="container">
      <div id="map" class="map"></div>
      <div class="form center">
        <form
          action="/issuecreate"
          method="POST"
          id="my-form"
          role="form"
          enctype="multipart/form-data"
        >
          <input class="lat-val" type="hidden" id="latitude" name="latitude" />
          <input
            class="long-val"
            type="hidden"
            id="longitude"
            name="longitude"
          />
          <input class="issueID" type="hidden" id="issueID" name="issueID" />
          <div class="inp-wrap">
            <div class="inp-wrap-item">
              <span class="uname"> Name </span><br />
              <input type="text" id="uname" name="uname" required />
            </div>
            <div class="inp-wrap-item">
              <span class="mail"> Mail </span><br />
              <input type="email" id="mail" name="mail" required />
              <br />
            </div>
          </div>
          <span class="phone"> Phone number(+91) </span>
          <input type="text" id="phone" name="phone" />
          <span class="photo_upload"> Photo upload </span>
          <input type="file" id="img" name="img" required />
          <span class="complaint_desc">
            Complaint description
            <i class="fa-solid fa-microphone-lines" onclick="record()"></i>
          </span>
          <textarea
            class="comp-desc"
            id="Complaint_description"
            name="Complaint_description"
            placeholder="Write a very detail description about the issue and location .."
            required
          >
        </textarea>

          <button class="btn btn-primary" type="submit" id="setText">
            Submit
          </button>
        </form>
      </div>
    </div>
    <script>
      function record() {
        var recognition = new webkitSpeechRecognition();
        recognition.lang = "en-GB";

        recognition.onresult = function (event) {
          // console.log(event);
          document.getElementById("Complaint_description").value =
            event.results[0][0].transcript;
        };
        recognition.start();
      }
    </script>
  </body>
</html>
