@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap");

* {
  font-family: poppins;
  font-weight: 500;
}
.body {
  overflow: hidden; /* Hide scrollbars */
  background-color: rgb(6, 28, 73, 0.9);
}

.container {
  padding: 10px 10px;
  background-color: aliceblue;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  /* margin-top: 50px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
}
.text {
  text-align: center;
  font-size: 1.3em;
  font-weight: 600;
}
.container form {
  z-index: 99;
}

.container p {
  margin-top: 10px;
}
.container-form {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
